In [8]:
#pip install boto3

In [36]:
import sys
from pyspark.context import SparkContext
from pyspark.sql import SparkSession
from pyspark.sql.functions import col, monotonically_increasing_id
import boto3

# Inicializar o SparkSession
spark = SparkSession.builder \
    .appName("Transformação TRT") \
    .getOrCreate()


# Caminho de origem dos dados
source_file_tmdb = f"./TRT/TMDB/Fantasy/dt=2024-04-12/"
source_file_movie = f"./TRT/Movies/movies"

# Carregar dados do arquivo Parquet
df_tmdb = spark.read.parquet(source_file_tmdb)
df_movie = spark.read.parquet(source_file_movie)

#####
# Verificar se a coluna 'data_coleta_tmdb' está presente em df_tmdb
print("Esquema de df_tmdb após a junção:")
df_tmdb.printSchema()

# Verificar se 'data_coleta_tmdb' está presente em df_tmdb
print("Verificar se 'data_coleta_tmdb' está presente em df_tmdb:")
df_tmdb.show()
#######

# junção dataframes
df_movie = df_movie.withColumnRenamed("imdb_id", "movie_imdb_id")

df_geral = df_movie.join(df_tmdb, df_movie.movie_imdb_id == df_tmdb.imdb_id, 'inner')


# Verificar se a coluna 'data_coleta_tmdb' está presente em df_tmdb
print("Esquema de df_geral após a junção:")
df_geral.printSchema()

# Verificar se 'data_coleta_tmdb' está presente em df_tmdb
print("Verificar se 'data_coleta_tmdb' está presente em df_geral:")
df_geral.show()


# Removendo linhas duplicadas com base na coluna imdb_id para garantir que seja uma chave primária
df_geral = df_geral.dropDuplicates(["movie_imdb_id"])

# Criando uma view temporária a partir do DataFrame geral
df_geral.createOrReplaceTempView('df_geral_view')

# Visualizar o esquema do DataFrame df_geral
df_geral.printSchema()

Esquema de df_tmdb após a junção:
root
 |-- anoLancamento_tmdb: long (nullable = true)
 |-- id_genero: long (nullable = true)
 |-- adulto: boolean (nullable = true)
 |-- orcamento: integer (nullable = true)
 |-- id_tmdb: long (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- popularidade: double (nullable = true)
 |-- receita: integer (nullable = true)
 |-- duracao: integer (nullable = true)
 |-- titulo: string (nullable = true)
 |-- votacao_media: double (nullable = true)
 |-- contagem_de_voto: integer (nullable = true)
 |-- data_coleta_tmdb: date (nullable = true)

Verificar se 'data_coleta_tmdb' está presente em df_tmdb:
+------------------+---------+------+---------+-------+---------+------------+----------+-------+--------------------+-------------+----------------+----------------+
|anoLancamento_tmdb|id_genero|adulto|orcamento|id_tmdb|  imdb_id|popularidade|   receita|duracao|              titulo|votacao_media|contagem_de_voto|data_coleta_tmdb|
+------------------+---------+------+---------+-------+---------+------------+----------+-------+--------------------+-------------+----------------+----------------+
|              2010|       14| false|250000000|  12444|tt0926084|      132.43| 954305868|    146|Harry Potter and ...|        7.756|           18449|      2024-04-12|
|              2010|       14| false|200000000|  12155|tt1014759|     119.588|1025467110|    108| Alice in Wonderland|          6.6|           13520|      2024-04-12|
|              2010|       14| false|165000000|  10192|tt0892791|     107.777| 752600000|     93| Shrek Forever After|        6.367|            7030|      2024-04-12|
|              2010|       14| false| 68000000|  24021|tt1325004|      89.659| 698491347|    124|The Twilight Saga...|        6.208|            8479|      2024-04-12|
|              2010|       14| false|165000000|  10191|tt0892769|      88.693| 494879471|     98|How to Train Your...|        7.823|           12536|      2024-04-12|
|              2010|       14| false| 95000000|  32657|tt0814255|      83.843| 226497209|    118|Percy Jackson & t...|        6.216|            7217|      2024-04-12|
|              2010|       14| false|150000000|  10196|tt0938283|      64.759| 319713881|    103|  The Last Airbender|        4.652|            3829|      2024-04-12|
|              2010|       14| false|125000000|  18823|tt0800320|      55.188| 493200000|    106| Clash of the Titans|        5.887|            6019|      2024-04-12|
|              2010|       14| false|155000000|  10140|tt0980970|       53.43| 415686217|    113|The Chronicles of...|         6.44|            5382|      2024-04-12|
|              2010|       14| false| 26000000|  22894|tt1038686|      46.801|  67900000|    100|              Legion|        5.832|            2487|      2024-04-12|
|              2010|       14| false| 50000000|  44603|tt1212419|      45.895| 107000000|    129|           Hereafter|        6.086|            1585|      2024-04-12|
|              2010|       14| false|200000000|   9543|tt0473075|      42.156| 336365676|    116|Prince of Persia:...|        6.278|            6529|      2024-04-12|
|              2010|       14| false| 47000000|  20533|tt1075747|      34.199|  10539000|     81|           Jonah Hex|        4.917|            1375|      2024-04-12|
|              2010|       14| false| 35000000|  35019|tt1415283|      34.037|  93251121|    109|Nanny McPhee and ...|          6.3|            1765|      2024-04-12|
|              2010|       14| false| 25000000|  35552|tt1179025|      33.345|  34604339|    105|The Extraordinary...|        6.186|            1247|      2024-04-12|
|              2010|       14| false|150000000|  27022|tt0963966|      32.889| 215300000|    109|The Sorcerer's Ap...|        6.118|            4792|      2024-04-12|
|              2010|       14| false| 23000000|  51739|tt1568921|      31.653| 149480483|     94|The Secret World ...|          7.7|            2696|      2024-04-12|
|              2010|       14| false| 48000000|  23023|tt0808510|      31.235| 112462508|    101|         Tooth Fairy|          5.5|            1908|      2024-04-12|
|              2010|       14| false| 80000000|  41216|tt1219342|      28.031| 140073390|     97|Legend of the Gua...|        6.802|            2224|      2024-04-12|
|              2010|       14| false|  3500000|  46146|tt1740707|      26.247|   4159678|    103|        Troll Hunter|        6.683|            1505|      2024-04-12|
+------------------+---------+------+---------+-------+---------+------------+----------+-------+--------------------+-------------+----------------+----------------+
only showing top 20 rows

Esquema de df_geral após a junção:
root
 |-- movie_imdb_id: string (nullable = true)
 |-- tituloPrincipal: string (nullable = true)
 |-- tempoMinutos: string (nullable = true)
 |-- notaMedia_imdb: string (nullable = true)
 |-- numeroVotos_imdb: string (nullable = true)
 |-- anoLancamento_tmdb: long (nullable = true)
 |-- id_genero: long (nullable = true)
 |-- adulto: boolean (nullable = true)
 |-- orcamento: integer (nullable = true)
 |-- id_tmdb: long (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- popularidade: double (nullable = true)
 |-- receita: integer (nullable = true)
 |-- duracao: integer (nullable = true)
 |-- titulo: string (nullable = true)
 |-- votacao_media: double (nullable = true)
 |-- contagem_de_voto: integer (nullable = true)
 |-- data_coleta_tmdb: date (nullable = true)

Verificar se 'data_coleta_tmdb' está presente em df_geral:
+-------------+--------------------+------------+--------------+----------------+------------------+---------+------+---------+-------+---------+------------+---------+-------+--------------------+-------------+----------------+----------------+
|movie_imdb_id|     tituloPrincipal|tempoMinutos|notaMedia_imdb|numeroVotos_imdb|anoLancamento_tmdb|id_genero|adulto|orcamento|id_tmdb|  imdb_id|popularidade|  receita|duracao|              titulo|votacao_media|contagem_de_voto|data_coleta_tmdb|
+-------------+--------------------+------------+--------------+----------------+------------------+---------+------+---------+-------+---------+------------+---------+-------+--------------------+-------------+----------------+----------------+
|    tt0035423|      Kate & Leopold|         118|           6.4|           85400|              2001|       14| false| 48000000|  11232|tt0035423|      30.262| 76019048|    118|      Kate & Leopold|          6.3|            1281|      2024-04-12|
|    tt0120667|      Fantastic Four|         106|           5.7|          331361|              2005|       14| false|100000000|   9738|tt0120667|       51.39|333535934|    106|      Fantastic Four|        5.783|            9009|      2024-04-12|
|    tt0120804|       Resident Evil|         100|           6.6|          272969|              2002|      878| false| 33000000|   1576|tt0120804|       38.21|103000000|    100|       Resident Evil|        6.615|            6063|      2024-04-12|
|    tt0121765|Star Wars: Episod...|         142|           6.6|          711119|              2002|      878| false|120000000|   1894|tt0121765|      47.459|649398328|    142|Star Wars: Episod...|        6.559|           12751|      2024-04-12|
|    tt0121766|Star Wars: Episod...|         140|           7.6|          791168|              2005|      878| false|113000000|   1895|tt0121766|      53.112|850000000|    140|Star Wars: Episod...|        7.422|           13223|      2024-04-12|
|    tt0133152|  Planet of the Apes|         119|           5.7|          220947|              2001|      878| false|100000000|    869|tt0133152|     124.033|362211740|    120|  Planet of the Apes|        5.744|            3843|      2024-04-12|
|    tt0145487|          Spider-Man|         121|           7.4|          816758|              2002|      878| false|139000000|    557|tt0145487|     110.132|821708551|    121|          Spider-Man|        7.293|           18341|      2024-04-12|
|    tt0146316|Lara Croft: Tomb ...|         100|           5.7|          210550|              2001|       14| false|115000000|   1995|tt0146316|      50.262|274700000|    100|Lara Croft: Tomb ...|        5.889|            5873|      2024-04-12|
|    tt0160399|            Impostor|          95|           6.2|           23905|              2001|      878| false| 40000000|   4965|tt0160399|      14.379|  8694320|    102|            Impostor|        6.108|             395|      2024-04-12|
|    tt0163025|   Jurassic Park III|          92|           5.9|          323847|              2001|      878| false| 93000000|    331|tt0163025|       2.704|368780809|     92|   Jurassic Park III|          6.1|            6854|      2024-04-12|
|    tt0166276|          Monkeybone|          93|           4.8|           18184|              2001|       14| false| 75000000|  23685|tt0166276|      20.727|  5409517|     93|          Monkeybone|        5.109|             311|      2024-04-12|
|    tt0167190|             Hellboy|         122|           6.8|          330938|              2004|       14| false| 66000000|   1487|tt0167190|      45.872| 99318987|    122|             Hellboy|          6.7|            6621|      2024-04-12|
|    tt0180052|The Adventures of...|          95|           3.8|           26095|              2002|      878| false|100000000|  11692|tt0180052|      15.423|  7103973|     95|The Adventures of...|          4.4|             461|      2024-04-12|
|    tt0181852|Terminator 3: Ris...|         109|           6.3|          401182|              2003|      878| false|200000000|    296|tt0181852|      57.309|435000000|    109|Terminator 3: Ris...|        6.156|            6353|      2024-04-12|
|    tt0187738|            Blade II|         117|           6.7|          220600|              2002|       14| false| 54000000|  36586|tt0187738|      48.949|155010032|    117|            Blade II|        6.532|            4512|      2024-04-12|
|    tt0189192|       Just Visiting|          88|           5.7|           19438|              2001|       14| false| 35000000|  56715|tt0189192|       18.32| 16200000|     88|       Just Visiting|          4.7|             632|      2024-04-12|
|    tt0206634|     Children of Men|         109|           7.9|          501681|              2006|      878| false| 76000000|   9693|tt0206634|      34.237| 70595464|    109|     Children of Men|         7.61|            6800|      2024-04-12|
|    tt0209163|   The Mummy Returns|         130|           6.4|          326971|              2001|       14| false| 98000000|   1734|tt0209163|      61.703|443280904|    130|   The Mummy Returns|          6.4|            6731|      2024-04-12|
|    tt0211443|             Jason X|          92|           4.4|           57438|              2001|      878| false| 11000000|  11470|tt0211443|      46.928| 16951798|     91|             Jason X|        4.842|            1274|      2024-04-12|
|    tt0212712|                2046|         129|           7.4|           58265|              2004|      878| false| 12000000|    844|tt0212712|      23.858| 20205757|    128|                2046|        7.222|             841|      2024-04-12|
+-------------+--------------------+------------+--------------+----------------+------------------+---------+------+---------+-------+---------+------------+---------+-------+--------------------+-------------+----------------+----------------+
only showing top 20 rows

root
 |-- movie_imdb_id: string (nullable = true)
 |-- tituloPrincipal: string (nullable = true)
 |-- tempoMinutos: string (nullable = true)
 |-- notaMedia_imdb: string (nullable = true)
 |-- numeroVotos_imdb: string (nullable = true)
 |-- anoLancamento_tmdb: long (nullable = true)
 |-- id_genero: long (nullable = true)
 |-- adulto: boolean (nullable = true)
 |-- orcamento: integer (nullable = true)
 |-- id_tmdb: long (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- popularidade: double (nullable = true)
 |-- receita: integer (nullable = true)
 |-- duracao: integer (nullable = true)
 |-- titulo: string (nullable = true)
 |-- votacao_media: double (nullable = true)
 |-- contagem_de_voto: integer (nullable = true)
 |-- data_coleta_tmdb: date (nullable = true)

In [37]:
# Definir as consultas para as tabelas


df_data_query = """
    SELECT DISTINCT anoLancamento_tmdb AS Ano_Lancamento 
    FROM df_geral_view
"""


df_titulo_query = """
    SELECT tituloPrincipal AS Titulo, 
        movie_imdb_id as titulo_imdb_id
    FROM df_geral_view
"""

df_adulto_query = """
    SELECT adulto AS Adulto, 
        movie_imdb_id as adulto_imdb_id
    FROM df_geral_view
"""

# Criar DataFrames usando as consultas
df_data = spark.sql(df_data_query)
df_titulo = spark.sql(df_titulo_query)
df_adulto = spark.sql(df_adulto_query)


df_data.printSchema()
df_titulo.printSchema()
df_adulto.printSchema()

root
 |-- Ano_Lancamento: long (nullable = true)

root
 |-- Titulo: string (nullable = true)
 |-- titulo_imdb_id: string (nullable = true)

root
 |-- Adulto: boolean (nullable = true)
 |-- adulto_imdb_id: string (nullable = true)

In [40]:
# Criar uma janela para particionar os dados por nada, resultando em uma partição única
# Definir a ordem na janela
window_data = Window.orderBy("Ano_Lancamento")
window_titulo = Window.orderBy("titulo_imdb_id")
window_adulto = Window.orderBy("adulto_imdb_id")

# Adicionar uma nova coluna de ID em cada DataFrame
# Adicionar uma nova coluna de ID em cada DataFrame
df_data = df_data.withColumn("id_tabela_data", concat(lit("dtg"), row_number().over(window_data)))
df_titulo = df_titulo.withColumn("id_tabela_titulo", concat(lit("tig"), row_number().over(window_titulo)))
df_adulto = df_adulto.withColumn("id_tabela_adulto", concat(lit("adg"), row_number().over(window_adulto)))

# Converter id_adulto para string
df_adulto = df_adulto.withColumn("id_tabela_adulto", col("id_tabela_adulto").cast("string"))
df_data = df_data.withColumn("id_tabela_data", col("id_tabela_data").cast("string"))
df_titulo = df_titulo.withColumn("id_tabela_titulo", col("id_tabela_titulo").cast("string"))


df_data.show()
df_data.describe().show()
df_titulo.show()
df_titulo.describe().show()
df_adulto.show()
df_adulto.describe().show()

+--------------+--------------+
|Ano_Lancamento|id_tabela_data|
+--------------+--------------+
|          2001|          dtg1|
|          2002|          dtg2|
|          2003|          dtg3|
|          2004|          dtg4|
|          2005|          dtg5|
|          2006|          dtg6|
|          2007|          dtg7|
|          2008|          dtg8|
|          2009|          dtg9|
|          2010|         dtg10|
|          2011|         dtg11|
|          2012|         dtg12|
|          2013|         dtg13|
|          2014|         dtg14|
|          2015|         dtg15|
+--------------+--------------+

+-------+----------------+--------------+
|summary|  Ano_Lancamento|id_tabela_data|
+-------+----------------+--------------+
|  count|              15|            15|
|   mean|          2008.0|          NULL|
| stddev|4.47213595499958|          NULL|
|    min|            2001|          dtg1|
|    max|            2015|          dtg9|
+-------+----------------+--------------+

+--------------------+--------------+----------------+
|              Titulo|titulo_imdb_id|id_tabela_titulo|
+--------------------+--------------+----------------+
|      Kate & Leopold|     tt0035423|            tig1|
|      Fantastic Four|     tt0120667|            tig2|
|       Resident Evil|     tt0120804|            tig3|
|Star Wars: Episod...|     tt0121765|            tig4|
|Star Wars: Episod...|     tt0121766|            tig5|
|  Planet of the Apes|     tt0133152|            tig6|
|          Spider-Man|     tt0145487|            tig7|
|Lara Croft: Tomb ...|     tt0146316|            tig8|
|            Impostor|     tt0160399|            tig9|
|   Jurassic Park III|     tt0163025|           tig10|
|          Monkeybone|     tt0166276|           tig11|
|             Hellboy|     tt0167190|           tig12|
|The Adventures of...|     tt0180052|           tig13|
|Terminator 3: Ris...|     tt0181852|           tig14|
|            Blade II|     tt0187738|           tig15|
|       Just Visiting|     tt0189192|           tig16|
|     Children of Men|     tt0206634|           tig17|
|   The Mummy Returns|     tt0209163|           tig18|
|             Jason X|     tt0211443|           tig19|
|                2046|     tt0212712|           tig20|
+--------------------+--------------+----------------+
only showing top 20 rows

+-------+--------------------+--------------+----------------+
|summary|              Titulo|titulo_imdb_id|id_tabela_titulo|
+-------+--------------------+--------------+----------------+
|  count|                 467|           467|             467|
|   mean|              2029.0|          NULL|            NULL|
| stddev|  24.041630560342615|          NULL|            NULL|
|    min|(T)Raumschiff Sur...|     tt0035423|            tig1|
|    max|            Æon Flux|     tt5278832|           tig99|
+-------+--------------------+--------------+----------------+

+------+--------------+----------------+
|Adulto|adulto_imdb_id|id_tabela_adulto|
+------+--------------+----------------+
| false|     tt0035423|            adg1|
| false|     tt0120667|            adg2|
| false|     tt0120804|            adg3|
| false|     tt0121765|            adg4|
| false|     tt0121766|            adg5|
| false|     tt0133152|            adg6|
| false|     tt0145487|            adg7|
| false|     tt0146316|            adg8|
| false|     tt0160399|            adg9|
| false|     tt0163025|           adg10|
| false|     tt0166276|           adg11|
| false|     tt0167190|           adg12|
| false|     tt0180052|           adg13|
| false|     tt0181852|           adg14|
| false|     tt0187738|           adg15|
| false|     tt0189192|           adg16|
| false|     tt0206634|           adg17|
| false|     tt0209163|           adg18|
| false|     tt0211443|           adg19|
| false|     tt0212712|           adg20|
+------+--------------+----------------+
only showing top 20 rows

+-------+--------------+----------------+
|summary|adulto_imdb_id|id_tabela_adulto|
+-------+--------------+----------------+
|  count|           467|             467|
|   mean|          NULL|            NULL|
| stddev|          NULL|            NULL|
|    min|     tt0035423|            adg1|
|    max|     tt5278832|           adg99|
+-------+--------------+----------------+

In [44]:
df_fato_query = """
    SELECT DISTINCT
        df_geral_view.movie_imdb_id as fato_imdb_id, 
        orcamento, 
        receita, 
        tempoMinutos, 
        popularidade, 
        contagem_de_voto, 
        votacao_media, 
        data_coleta_tmdb,
        anoLancamento_tmdb,
        adulto
    FROM df_geral_view
"""
df_fato = spark.sql(df_fato_query)


#df_fato.printSchema()



df_fato = df_fato.join(df_data.select('id_tabela_data', 'Ano_Lancamento'),
                       df_fato.anoLancamento_tmdb==df_data.Ano_Lancamento, 'inner')
#df_fato = df_fato.drop('anoLancamento_tmdb', 'Ano_Lancamento')
                                    

df_fato = df_fato.join(df_titulo.select('id_tabela_titulo', 'titulo_imdb_id'),
                       df_fato.fato_imdb_id==df_titulo.titulo_imdb_id, 'inner')
#df_fato = df_fato.drop('titulo_imdb_id')


df_fato = df_fato.join(df_adulto.select('id_tabela_adulto', 'adulto_imdb_id'),
                       df_fato.fato_imdb_id==df_adulto.adulto_imdb_id, 'inner')
#df_fato = df_fato.drop('adulto', 'Adulto')



df_temp = df_fato.toPandas()
drop_colunas = ['anoLancamento_tmdb', 'Ano_Lancamento', 'titulo_imdb_id', 'adulto', 'adulto_imdb_id']
df_temp = df_temp.drop(drop_colunas, axis=1)
df_fato = spark.createDataFrame(df_temp)

# Remover colunas redundantes após o join
#df_fato = df_fato_sagas.drop("anoLancamento_tmdb", "Ano_Lancamento", "adulto", "ts_imdb_id", "as_imdb_id")


df_fato.orderBy('fato_imdb_id').show
df_fato.printSchema()

root
 |-- fato_imdb_id: string (nullable = true)
 |-- orcamento: long (nullable = true)
 |-- receita: long (nullable = true)
 |-- tempoMinutos: string (nullable = true)
 |-- popularidade: double (nullable = true)
 |-- contagem_de_voto: long (nullable = true)
 |-- votacao_media: double (nullable = true)
 |-- data_coleta_tmdb: date (nullable = true)
 |-- id_tabela_data: string (nullable = true)
 |-- id_tabela_titulo: string (nullable = true)
 |-- id_tabela_adulto: string (nullable = true)

In [5]:
####################################################
# Print e mostrar o DataFrame df_fato
#print(df_fato)
df_fato.show()
df_fato.describe().show()

# Contar o número total de linhas em df_fato
total_linhas_fato = df_fato.count()

# Mostrar o número total de linhas em df_fato
print("Número total de linhas em df_fato:", total_linhas_fato)

# Print e mostrar o DataFrame df_data
#print(df_data)
df_data.show()
df_data.describe().show()

# Contar o número total de linhas em df_data
total_linhas_data = df_data.count()

# Mostrar o número total de linhas em df_data
print("Número total de linhas em df_data:", total_linhas_data)

# Print e mostrar o DataFrame df_titulo
#print(df_titulo)
df_titulo.show()
df_titulo.describe().show()

# Contar o número total de linhas em df_titulo
total_linhas_titulo = df_titulo.count()

# Mostrar o número total de linhas em df_titulo
print("Número total de linhas em df_titulo:", total_linhas_titulo)

# Print e mostrar o DataFrame df_adulto
#print(df_adulto)
df_adulto.show()
df_adulto.describe().show()

# Contar o número total de linhas em df_adulto
total_linhas_adulto = df_adulto.count()

# Mostrar o número total de linhas em df_adulto
print("Número total de linhas em df_adulto:", total_linhas_adulto)

+------------+---------+---------+------------+---------+------------+----------------+-------------+----------------+-------+---------+---------+
|fato_imdb_id|orcamento|  receita|tempoMinutos|id_genero|popularidade|contagem_de_voto|votacao_media|data_coleta_tmdb|id_data|id_titulo|id_adulto|
+------------+---------+---------+------------+---------+------------+----------------+-------------+----------------+-------+---------+---------+
|   tt0035423| 48000000| 76019048|         118|       14|      30.262|            1281|          6.3|      2024-04-12|     14|      227|      227|
|   tt0120667|100000000|333535934|         106|       14|       51.39|            9009|        5.783|      2024-04-12|     12|      228|      228|
|   tt0120804| 33000000|103000000|         100|      878|       38.21|            6063|        6.615|      2024-04-12|     10|      381|      381|
|   tt0121765|120000000|649398328|         142|      878|      47.459|           12751|        6.559|      2024-04-12|     10|      177|      177|
|   tt0121766|113000000|850000000|         140|      878|      53.112|           13223|        7.422|      2024-04-12|     12|        1|        1|
|   tt0133152|100000000|362211740|         119|      878|     124.033|            3843|        5.744|      2024-04-12|     14|       29|       29|
|   tt0145487|139000000|821708551|         121|      878|     110.132|           18341|        7.293|      2024-04-12|     10|      426|      426|
|   tt0146316|115000000|274700000|         100|       14|      50.262|            5873|        5.889|      2024-04-12|     14|      418|      418|
|   tt0160399| 40000000|  8694320|          95|      878|      14.379|             395|        6.108|      2024-04-12|     14|       86|       86|
|   tt0163025| 93000000|368780809|          92|      878|       2.704|            6854|          6.1|      2024-04-12|     14|      457|      457|
|   tt0166276| 75000000|  5409517|          93|       14|      20.727|             311|        5.109|      2024-04-12|     14|      415|      415|
|   tt0167190| 66000000| 99318987|         122|       14|      45.872|            6621|          6.7|      2024-04-12|      8|      193|      193|
|   tt0180052|100000000|  7103973|          95|      878|      15.423|             461|          4.4|      2024-04-12|     10|      321|      321|
|   tt0181852|200000000|435000000|         109|      878|      57.309|            6353|        6.156|      2024-04-12|      9|      441|      441|
|   tt0187738| 54000000|155010032|         117|       14|      48.949|            4512|        6.532|      2024-04-12|     10|       92|       92|
|   tt0189192| 35000000| 16200000|          88|       14|       18.32|             632|          4.7|      2024-04-12|     14|      397|      397|
|   tt0206634| 76000000| 70595464|         109|      878|      34.237|            6800|         7.61|      2024-04-12|      6|      179|      179|
|   tt0209163| 98000000|443280904|         130|       14|      61.703|            6731|          6.4|      2024-04-12|     14|      431|      431|
|   tt0211443| 11000000| 16951798|          92|      878|      46.928|            1274|        4.842|      2024-04-12|     14|      442|      442|
|   tt0212712| 12000000| 20205757|         129|      878|      23.858|             841|        7.222|      2024-04-12|      8|      294|      294|
+------------+---------+---------+------------+---------+------------+----------------+-------------+----------------+-------+---------+---------+
only showing top 20 rows

+-------+------------+--------------------+--------------------+------------------+------------------+-----------------+-----------------+------------------+----------------+------------------+------------------+
|summary|fato_imdb_id|           orcamento|             receita|      tempoMinutos|         id_genero|     popularidade| contagem_de_voto|     votacao_media|         id_data|         id_titulo|         id_adulto|
+-------+------------+--------------------+--------------------+------------------+------------------+-----------------+-----------------+------------------+----------------+------------------+------------------+
|  count|         467|                 467|                 467|               467|               467|              467|              467|               467|             467|               467|               467|
|   mean|        NULL|6.5812706177730195E7|1.9812601834261242E8|112.13062098501071| 454.3254817987152|42.45981584582442|4824.280513918629| 6.282156316916488|7.87152034261242|             234.0|             234.0|
| stddev|        NULL| 6.711308727869827E7|2.9705811566264004E8| 19.55234155652882|432.38295329231283|37.51321520855832|5889.105514803647|0.8694518543396937|4.33180948734719|134.95554823718808|134.95554823718808|
|    min|   tt0035423|                3000|                 743|               100|                14|            1.922|               30|             2.891|               1|                 1|                 1|
|    max|   tt5278832|           379000000|          2068223624|                99|               878|          240.924|            35584|               8.4|               9|                99|                99|
+-------+------------+--------------------+--------------------+------------------+------------------+-----------------+-----------------+------------------+----------------+------------------+------------------+

Número total de linhas em df_fato: 467
+--------------+-------+
|Ano_Lancamento|id_data|
+--------------+-------+
|          2007|      1|
|          2014|      2|
|          2012|      3|
|          2009|      4|
|          2010|      5|
|          2006|      6|
|          2013|      7|
|          2004|      8|
|          2003|      9|
|          2002|     10|
|          2011|     11|
|          2005|     12|
|          2008|     13|
|          2001|     14|
|          2015|     15|
+--------------+-------+

+-------+-----------------+----------------+
|summary|   Ano_Lancamento|         id_data|
+-------+-----------------+----------------+
|  count|               15|              15|
|   mean|           2008.0|             8.0|
| stddev|4.472135954999585|4.47213595499958|
|    min|             2001|               1|
|    max|             2015|               9|
+-------+-----------------+----------------+

Número total de linhas em df_data: 15
+--------------------+--------------+---------+
|              Titulo|titulo_imdb_id|id_titulo|
+--------------------+--------------+---------+
|      Kate & Leopold|     tt0035423|        1|
|      Fantastic Four|     tt0120667|        2|
|       Resident Evil|     tt0120804|        3|
|Star Wars: Episod...|     tt0121765|        4|
|Star Wars: Episod...|     tt0121766|        5|
|  Planet of the Apes|     tt0133152|        6|
|          Spider-Man|     tt0145487|        7|
|Lara Croft: Tomb ...|     tt0146316|        8|
|            Impostor|     tt0160399|        9|
|   Jurassic Park III|     tt0163025|       10|
|          Monkeybone|     tt0166276|       11|
|             Hellboy|     tt0167190|       12|
|The Adventures of...|     tt0180052|       13|
|Terminator 3: Ris...|     tt0181852|       14|
|            Blade II|     tt0187738|       15|
|       Just Visiting|     tt0189192|       16|
|     Children of Men|     tt0206634|       17|
|   The Mummy Returns|     tt0209163|       18|
|             Jason X|     tt0211443|       19|
|                2046|     tt0212712|       20|
+--------------------+--------------+---------+
only showing top 20 rows

+-------+--------------------+--------------+------------------+
|summary|              Titulo|titulo_imdb_id|         id_titulo|
+-------+--------------------+--------------+------------------+
|  count|                 467|           467|               467|
|   mean|              2029.0|          NULL|             234.0|
| stddev|  24.041630560342615|          NULL|134.95554823718808|
|    min|(T)Raumschiff Sur...|     tt0035423|                 1|
|    max|            Æon Flux|     tt5278832|                99|
+-------+--------------------+--------------+------------------+

Número total de linhas em df_titulo: 467
+------+--------------+---------+
|Adulto|adulto_imdb_id|id_adulto|
+------+--------------+---------+
| false|     tt0121766|        1|
| false|     tt0469640|        2|
| false|     tt0265087|        3|
| false|     tt0283084|        4|
| false|     tt0386741|        5|
| false|     tt1334260|        6|
| false|     tt0450405|        7|
| false|     tt2120120|        8|
| false|     tt1396221|        9|
| false|     tt1623205|       10|
| false|     tt2194499|       11|
| false|     tt2488496|       12|
| false|     tt0397078|       13|
| false|     tt0343818|       14|
| false|     tt0402022|       15|
| false|     tt0479162|       16|
| false|     tt1029231|       17|
| false|     tt0364970|       18|
| false|     tt0366627|       19|
| false|     tt0374536|       20|
+------+--------------+---------+
only showing top 20 rows

+-------+--------------+------------------+
|summary|adulto_imdb_id|         id_adulto|
+-------+--------------+------------------+
|  count|           467|               467|
|   mean|          NULL|             234.0|
| stddev|          NULL|134.95554823718808|
|    min|     tt0035423|                 1|
|    max|     tt5278832|                99|
+-------+--------------+------------------+

Número total de linhas em df_adulto: 467

In [6]:
########################################################################################


# Caminho de saída para os dados no formato Parquet
output_path = "./Refined"

# Escrever DataFrames como tabelas no AWS Glue
def salvar_tabela(df, tabela_nome):
    df.write.format("parquet") \
        .mode("overwrite") \
        .save(output_path + "/" + tabela_nome)


# Salvando as tabelas
salvar_tabela(df_fato, "tabela_fato")
salvar_tabela(df_data, "tabela_data")
salvar_tabela(df_titulo, "tabela_titulo")
salvar_tabela(df_adulto, "tabela_adulto")

In [34]:
from pyspark.sql.window import Window
from pyspark.sql.functions import row_number, concat, lit

# Caminho de origem dos dados
source_file_tmdb = f"./TRT/TMDB/Fantasy/dt=2024-04-12/"
source_file_movie = f"./TRT/Movies/movies"

# Carregar dados do arquivo Parquet
df_tmdb = spark.read.parquet(source_file_tmdb)
df_movie = spark.read.parquet(source_file_movie)


df_movie = df_movie.withColumnRenamed("imdb_id", "movie_imdb_id")



# junção dataframes
df_geral = df_movie.join(df_tmdb, df_movie.movie_imdb_id == df_tmdb.imdb_id, 'inner')


# Remover linhas duplicadas com base na coluna movie_imdb_id para garantir que seja uma chave primária
df_geral = df_geral.dropDuplicates(["movie_imdb_id"])

# Criando uma view temporária a partir do DataFrame geral
df_geral.createOrReplaceTempView('df_geral_view')

# Visualizar o esquema do DataFrame df_geral
df_geral.printSchema()

# Definir as consultas para as tabelas
ids_sagas = ['tt0241527', 'tt0295297', 'tt0304141', 'tt0330373', 'tt0373889', 'tt0417741', 'tt0926084', 'tt1201607', 'tt1392170', 'tt1951264', 'tt1951265', 'tt1951266', 'tt1099212', 'tt1259571', 'tt1324999', 'tt1325004', 'tt1673434']



ids_sagas_str = ", ".join([f"'{id}'" for id in ids_sagas])
df_sagas_data_query = f"""
    SELECT anoLancamento_tmdb AS Ano_Lancamento 
    FROM df_geral_view
    WHERE movie_imdb_id IN ({ids_sagas_str})
"""


# Montar a parte da consulta SQL para buscar os títulos das sagas específicas
ids_sagas_str = ", ".join([f"'{id}'" for id in ids_sagas])
df_sagas_titulo_query = f"""
    SELECT tituloPrincipal AS Titulo, 
        movie_imdb_id as ts_imdb_id
    FROM df_geral_view
    WHERE movie_imdb_id IN ({ids_sagas_str})
"""


# Montar a parte da consulta SQL para buscar os títulos das sagas específicas
ids_sagas_str = ", ".join([f"'{id}'" for id in ids_sagas])
df_sagas_adulto_query = f"""
    SELECT adulto AS Adulto, 
        movie_imdb_id as as_imdb_id
    FROM df_geral_view
    WHERE movie_imdb_id IN ({ids_sagas_str})
"""


# Criar DataFrames usando as consultas
df_sagas_data = spark.sql(df_sagas_data_query)
df_sagas_titulo = spark.sql(df_sagas_titulo_query)
df_sagas_adulto = spark.sql(df_sagas_adulto_query)



# Criar uma janela para particionar os dados por nada, resultando em uma partição única
# Definir a ordem na janela
window_data = Window.orderBy("Ano_Lancamento")
window_titulo = Window.orderBy("ts_imdb_id")
window_adulto = Window.orderBy("as_imdb_id")



# Adicionar uma nova coluna de ID em cada DataFrame
# Adicionar uma nova coluna de ID em cada DataFrame
df_sagas_data = df_sagas_data.withColumn("id_tabela_data", concat(lit("dt"), row_number().over(window_data)))
df_sagas_titulo = df_sagas_titulo.withColumn("id_tabela_titulo", concat(lit("ti"), row_number().over(window_titulo)))
df_sagas_adulto = df_sagas_adulto.withColumn("id_tabela_adulto", concat(lit("ad"), row_number().over(window_adulto)))


# Converter id_adulto para string
df_sagas_data = df_sagas_data.withColumn("id_tabela_data", col("id_tabela_data").cast("string"))
df_sagas_titulo = df_sagas_titulo.withColumn("id_tabela_titulo", col("id_tabela_titulo").cast("string"))
df_sagas_adulto = df_sagas_adulto.withColumn("id_tabela_adulto", col("id_tabela_adulto").cast("string"))

# Montar a parte da consulta SQL para buscar os dados das sagas específicas
ids_sagas_str = ", ".join([f"'{id}'" for id in ids_sagas])
df_fato_sagas_query = f"""
    SELECT DISTINCT
        df_geral_view.movie_imdb_id as fs_movie_imdb_id, 
        orcamento, 
        receita, 
        tempoMinutos, 
        popularidade, 
        contagem_de_voto, 
        votacao_media, 
        data_coleta_tmdb,
        anoLancamento_tmdb
    FROM df_geral_view
    WHERE df_geral_view.movie_imdb_id IN ({ids_sagas_str})
"""


df_fato_sagas = spark.sql(df_fato_sagas_query)


df_fato_sagas.printSchema()



# Joining and dropping redundant columns
df_fato_sagas = df_fato_sagas.join(df_sagas_data.select("id_tabela_data", "Ano_Lancamento"),
                                   df_fato_sagas.anoLancamento_tmdb == df_sagas_data.Ano_Lancamento, "inner")
#df_fato_sagas = df_fato_sagas.drop("anoLancamento_tmdb", "Ano_Lancamento")


df_fato_sagas = df_fato_sagas.join(df_sagas_titulo.select('id_tabela_titulo', 'ts_imdb_id'),
                       df_fato_sagas.fs_movie_imdb_id==df_sagas_titulo.ts_imdb_id, 'inner')
#df_fato_sagas = df_fato_sagas.drop('ts_imdb_id')


df_fato_sagas = df_fato_sagas.join(df_sagas_adulto.select('id_tabela_adulto', 'as_imdb_id'),
                       df_fato_sagas.fs_movie_imdb_id==df_sagas_adulto.as_imdb_id, 'inner')
#df_fato = df_fato.drop('adulto', 'Adulto')

# Remover colunas redundantes após o join
df_fato_sagas = df_fato_sagas.drop("anoLancamento_tmdb", "Ano_Lancamento", "adulto", "ts_imdb_id", "as_imdb_id")

# Eliminar linhas duplicadas
df_fato_sagas = df_fato_sagas.dropDuplicates(["fs_movie_imdb_id"])


df_fato_sagas.orderBy('fs_movie_imdb_id').show
df_fato_sagas.printSchema()


# Caminho de saída para os dados no formato Parquet
output_path = "./Refined"

# Escrever DataFrames como tabelas no AWS Glue
def salvar_tabela(df, tabela_nome):
    df.write.format("parquet") \
        .mode("overwrite") \
        .save(output_path + "/" + tabela_nome)



# Salvando as tabelas
salvar_tabela(df_fato_sagas, "tabela_fato_sagas")
salvar_tabela(df_sagas_data, "tabela_sagas_data")
salvar_tabela(df_sagas_titulo, "tabela_sagas_titulo")
salvar_tabela(df_sagas_adulto, "tabela_sagas_adulto")

root
 |-- movie_imdb_id: string (nullable = true)
 |-- tituloPrincipal: string (nullable = true)
 |-- tempoMinutos: string (nullable = true)
 |-- notaMedia_imdb: string (nullable = true)
 |-- numeroVotos_imdb: string (nullable = true)
 |-- anoLancamento_tmdb: long (nullable = true)
 |-- id_genero: long (nullable = true)
 |-- adulto: boolean (nullable = true)
 |-- orcamento: integer (nullable = true)
 |-- id_tmdb: long (nullable = true)
 |-- imdb_id: string (nullable = true)
 |-- popularidade: double (nullable = true)
 |-- receita: integer (nullable = true)
 |-- duracao: integer (nullable = true)
 |-- titulo: string (nullable = true)
 |-- votacao_media: double (nullable = true)
 |-- contagem_de_voto: integer (nullable = true)
 |-- data_coleta_tmdb: date (nullable = true)

root
 |-- fs_movie_imdb_id: string (nullable = true)
 |-- orcamento: integer (nullable = true)
 |-- receita: integer (nullable = true)
 |-- tempoMinutos: string (nullable = true)
 |-- popularidade: double (nullable = true)
 |-- contagem_de_voto: integer (nullable = true)
 |-- votacao_media: double (nullable = true)
 |-- data_coleta_tmdb: date (nullable = true)
 |-- anoLancamento_tmdb: long (nullable = true)

root
 |-- fs_movie_imdb_id: string (nullable = true)
 |-- orcamento: integer (nullable = true)
 |-- receita: integer (nullable = true)
 |-- tempoMinutos: string (nullable = true)
 |-- popularidade: double (nullable = true)
 |-- contagem_de_voto: integer (nullable = true)
 |-- votacao_media: double (nullable = true)
 |-- data_coleta_tmdb: date (nullable = true)
 |-- id_tabela_data: string (nullable = false)
 |-- id_tabela_titulo: string (nullable = false)
 |-- id_tabela_adulto: string (nullable = false)

In [35]:
df_fato_sagas.describe().show()
df_fato_sagas.show(25)
df_sagas_data.describe().show()
df_sagas_titulo.describe().show()
df_sagas_adulto.describe().show()

+-------+----------------+--------------------+--------------------+------------------+------------------+-----------------+------------------+--------------+----------------+----------------+
|summary|fs_movie_imdb_id|           orcamento|             receita|      tempoMinutos|      popularidade| contagem_de_voto|     votacao_media|id_tabela_data|id_tabela_titulo|id_tabela_adulto|
+-------+----------------+--------------------+--------------------+------------------+------------------+-----------------+------------------+--------------+----------------+----------------+
|  count|              17|                  17|                  17|                17|                17|               17|                17|            17|              17|              17|
|   mean|            NULL|1.2676470588235295E8| 8.246426584117647E8|137.35294117647058|114.60499999999999|16339.64705882353| 7.187176470588235|          NULL|            NULL|            NULL|
| stddev|            NULL| 5.794127351440066E7|1.9703030332633257E8|14.229991112394393| 36.98914515435574|5497.277439119028|0.7299485628534145|          NULL|            NULL|            NULL|
|    min|       tt0241527|            37000000|           393616788|               115|            43.946|             8479|             5.992|           dt1|             ti1|             ad1|
|    max|       tt1951266|           250000000|          1341511219|               161|           197.446|            26461|             8.099|           dt8|             ti9|             ad9|
+-------+----------------+--------------------+--------------------+------------------+------------------+-----------------+------------------+--------------+----------------+----------------+

+----------------+---------+----------+------------+------------+----------------+-------------+----------------+--------------+----------------+----------------+
|fs_movie_imdb_id|orcamento|   receita|tempoMinutos|popularidade|contagem_de_voto|votacao_media|data_coleta_tmdb|id_tabela_data|id_tabela_titulo|id_tabela_adulto|
+----------------+---------+----------+------------+------------+----------------+-------------+----------------+--------------+----------------+----------------+
|       tt0241527|125000000| 976475550|         152|     197.446|           26461|        7.914|      2024-04-12|           dt1|             ti1|             ad1|
|       tt0295297|100000000| 876688482|         161|     147.252|           21236|         7.72|      2024-04-12|           dt2|             ti2|             ad2|
|       tt0304141|130000000| 789804554|         142|     149.381|           20833|        8.016|      2024-04-12|           dt3|             ti3|             ad3|
|       tt0330373|150000000| 895921036|         157|     135.414|           20026|        7.814|      2024-04-12|           dt4|             ti4|             ad4|
|       tt0373889|150000000| 938212738|         138|     132.564|           18851|        7.681|      2024-04-12|           dt5|             ti5|             ad5|
|       tt0417741|250000000| 933959197|         153|     125.955|           18797|        7.693|      2024-04-12|           dt7|             ti6|             ad6|
|       tt0926084|250000000| 954305868|         146|      132.43|           18449|        7.756|      2024-04-12|           dt9|             ti7|             ad7|
|       tt1099212| 37000000| 393616788|         122|     138.768|           13069|        6.289|      2024-04-12|           dt6|             ti8|             ad8|
|       tt1201607|125000000|1341511219|         130|     120.138|           19900|        8.099|      2024-04-12|          dt11|             ti9|             ad9|
|       tt1259571| 50000000| 709827462|         130|      96.066|            8888|        5.992|      2024-04-12|           dt7|            ti10|            ad10|
|       tt1324999|110000000| 712171856|         117|      99.809|            8493|          6.2|      2024-04-12|          dt11|            ti11|            ad11|
|       tt1325004| 68000000| 698491347|         124|      89.659|            8479|        6.208|      2024-04-12|           dt9|            ti12|            ad12|
|       tt1392170| 75000000| 694394724|         142|      43.946|           21375|        7.206|      2024-04-12|          dt13|            ti13|            ad13|
|       tt1673434|120000000| 829747654|         115|     105.245|            8602|        6.464|      2024-04-12|          dt13|            ti14|            ad14|
|       tt1951264|130000000| 865011746|         146|      70.844|           16840|        7.427|      2024-04-12|          dt15|            ti15|            ad15|
|       tt1951265|125000000| 755356711|         123|      98.844|           15358|        6.808|      2024-04-12|          dt16|            ti16|            ad16|
|       tt1951266|160000000| 653428261|         137|      64.524|           12117|        6.895|      2024-04-12|          dt17|            ti17|            ad17|
+----------------+---------+----------+------------+------------+----------------+-------------+----------------+--------------+----------------+----------------+

+-------+-----------------+--------------+
|summary|   Ano_Lancamento|id_tabela_data|
+-------+-----------------+--------------+
|  count|               17|            17|
|   mean|           2009.0|          NULL|
| stddev|4.062019202317997|          NULL|
|    min|             2001|           dt1|
|    max|             2015|           dt9|
+-------+-----------------+--------------+

+-------+--------------------+----------+----------------+
|summary|              Titulo|ts_imdb_id|id_tabela_titulo|
+-------+--------------------+----------+----------------+
|  count|                  17|        17|              17|
|   mean|                NULL|      NULL|            NULL|
| stddev|                NULL|      NULL|            NULL|
|    min|Harry Potter and ...| tt0241527|             ti1|
|    max|            Twilight| tt1951266|             ti9|
+-------+--------------------+----------+----------------+

+-------+----------+----------------+
|summary|as_imdb_id|id_tabela_adulto|
+-------+----------+----------------+
|  count|        17|              17|
|   mean|      NULL|            NULL|
| stddev|      NULL|            NULL|
|    min| tt0241527|             ad1|
|    max| tt1951266|             ad9|
+-------+----------+----------------+